.main-slider-item h1 {
  line-height: 78px !important;
  color: #bfc0c1 !important;
}

.main-slider-item h4 {
  line-height: 42px !important;
  margin-bottom: 24px !important;
}

.main-slider-item p {
  line-height: 24px !important;
  color: #bfc0c1 !important;
}

.what-we-do {
  background: #23201f;
  color: #fff;
  margin-bottom: 50px;
}

.what-we-do .feature-item-three {
  box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 0.1);
  background: #2a2627;
  display: block;
  height: 350px;
  margin-bottom: 0px;
}

.what-we-do .feature-item-three:hover {
  background: #e1251b;
  box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.feature-item-three .icon.wedo img {
  content: url('./assets/images/icon-home/What we do.png');
}

.feature-item-three .icon.wedeliver img {
  content: url('./assets/images/icon-home/How we deliver.png');
}

.feature-item-three .icon.ourstandard img {
  content: url('./assets/images/icon-home/Our Standard.png');
}

.what-we-do .feature-item-three:hover .icon.wedo img {
  content: url('./assets/images/icon-home/What_we_do_red.png');
}

.what-we-do .feature-item-three:hover .icon.wedeliver img {
  content: url('./assets/images/icon-home/How_we_deliver_red.png');
}

.what-we-do .feature-item-three:hover .icon.ourstandard img {
  content: url('./assets/images/icon-home/Our_Standard_red.png');
}

.what-we-do .feature-item-three:hover .text-red-desktop {
  color: white;
}

.what-we-do .feature-item-three .icon {
  background: none;
  margin-right: 0;
}

.what-we-do .feature-item-three .icon-row {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.what-we-do .feature-item-three .title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding-right: 20px;
  margin-bottom: 0;
}

.what-we-do .feature-item-three p {
  font-size: 18px;
  color: #fff;
  margin: 0 18px;
  padding: 0 18px 18px 18px;
}

.why-list .service-content h5 {
  font-weight: 700;
}

.about-section {
  background: #23201f;
}

.about-section .small-title {
  color: #fff;
}

.about-section .section-title h3 {
  margin-bottom: 24px;
  margin-top: 16px;
  color: #e1251b;
}

.about-section .section-title .highlight-text {
  color: #e1251b;
  font-size: 40px;
}

.about-section .service-item-six .icon img {
  max-height: 45px;
}

.about-section .list-style-one li {
  margin-top: 10px;
}

.why-list .service-item-six .icon img {
  width: auto;
  height: 48px;
  margin-top: -4px;
}

.news-slider-wrapper {
  padding: 0 8px;
}

.news-slider-wrap .news-slider-item,
.whyus-slider-wrap .whyus-slider-item,
.feature-slider-wrap .feature-slider-item,
.gallery-three-wrap .gallery-slider-item,
.logo-carousel-wrap .logo-slider-item {
  padding: 20px;
  background-color: #2a2627;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.news-slider-wrap .news-slider-item .slider-caption .container,
.whyus-slider-wrap .whyus-slider-item .slider-caption .container,
.feature-slider-wrap .feature-slider-item .feature-caption .container,
.gallery-three-wrap .gallery-slider-item .gallery-caption .container,
.logo-carousel-wrap .logo-slider-item .slider-caption .container {
  padding: 0 !important;
}

.gallery-three-wrap.testimonial-seven-slider,
.logo-carousel-wrap.testimonial-seven-slider,
.infra-carousel-wrap.testimonial-seven-slider,
.cloud-carousel-wrap.testimonial-seven-slider {
  background: unset;
}

.news-slider-wrap .news-slider-item .image,
.whyus-slider-wrap .whyus-slider-item .image,
.feature-slider-wrap .feature-slider-item .image {
  aspect-ratio: 3/2;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    width: 232px;
    height: 155px;
  }
}

.news-slider-wrap .news-slider-item .sub-title {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
  margin-top: 8px;
}

.news-slider-wrap .news-slider-item .news-slider-content {
  margin-top: 16px;
}

.news-slider-wrap .news-slider-item .title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-slider-wrap .news-slider-item .primary-link {
  display: flex;
  align-items: center;
  color: #ee2022 !important;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.news-slider-wrap .news-slider-item .slider-caption .container {
  height: 140px;
}

.news-slider-wrap .news-slider-item .primary-link i {
  margin-left: 4px;
}

.news-slider-wrap.testimonial-seven-slider {
  width: calc(100% - 60px);
  background: transparent;
  padding: 0;
}

.whyus-slider-wrap.testimonial-seven-slider,
.feature-slider-wrap.testimonial-seven-slider,
.gallery-slider-wrap.testimonial-seven-slider,
.logo-slider-wrap.testimonial-seven-slider,
.infra-carousel-wrap.testimonial-seven-slider,
.cloud-carousel-wrap.testimonial-seven-slider {
  /* width: 87%; calc(100% - 60px); */
  background: transparent;
  /* padding: 0; */
}

.news-block {
  display: flex;
}

.news-left-block,
.news-right-block {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.news-section .slick-arrow,
.service-section .slick-arrow {
  border-radius: 100%;
  color: #e1251b;
  width: 36px;
  height: 36px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-section .slick-arrow:hover,
.news-section .slick-arrow:focus,
.service-section .slick-arrow:hover,
.service-section .slick-arrow:focus {
  background: #f43336;
  color: #fff;
}

.custom-slick-control>ul.slick-dots {
  left: 46% !important;
  bottom: -50px;
  margin-left: -10px;
}

.testimonial-seven-slider .slick-dots li {
  width: 19px;
  height: 6px;
  cursor: pointer;
  background: #393637;
  position: relative;
  border-radius: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

.testimonial-seven-slider .slick-dots li.slick-active {
  background: #e1251b;
}

.testimonial-seven-slider .slick-dots li.slick-active:after {
  -webkit-transform: unset !important;
  transform: unset;
  width: 0px;
  height: 0px;
  border: 0px;
}

.testimonial-seven-slider .testimonial-item .content-title .title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.testimonial-seven-slider .testimonial-item .content-title .sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #bfc0c1;
  padding: 0px 18px;
}

.service-section .section-title {
  margin-bottom: 55px;
}

.service-section .services-card {
  height: 392px;
  width: 315px !important;
  border-radius: 4px;
  overflow: hidden;
}

.service-section .services-card img {
  aspect-ratio: 1/1.3;
  object-fit: cover;
}

.service-arrow {
  margin-bottom: 0px;
  margin-top: 25px;
}

.service-arrow .gallery-next {
  margin-right: 0;
}

.news-section .discover-btn {
  padding: 14px 40px 14px 40px !important;
}

.about-section .learnmore {
  padding: 18px 40px 18px 40px !important;
}

.home-contact-banner .contactus-btn {
  background: #fff !important;
  color: #ee2022;
  border: none !important;
  padding: 16px 40px 16px 40px !important;
}

.home-contact-banner a.theme-btn.style-nine.contactus-btn:hover {
  background: #fff !important;
  background-color: rgba(225, 37, 27, 1) !important;
}

.logo-section .trust-text {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 70px;
  text-align: center;
  line-height: 41px;
}

.logo-section .trust-text .highlight {
  color: #e1251b;
  font-size: 32px !important;
}

.content-1 {
  margin: -108px 30px;
}

.content-2 {
  margin: -80px 30px;
}

.content-3 {
  margin: -80px 30px;
}

.content-4 {
  margin: -80px 30px;
}

.content-5 {
  margin: -80px 30px;
}

.content-6 {
  margin: -50px 30px;
}

.content-7 {
  margin: -108px 30px;
}

.content-8 {
  margin: -80px 30px;
}

.gallery-content {
  height: 392px;
  transition: 0.5s;
  border-radius: 5px;
  transform: translateY(5px);
}

.gallery-item-service {
  padding-left: 10px;
  padding-right: 10px;
}

.img-service {
  width: 315px;
  height: 392px;
  border-radius: 4px;
  object-fit: cover;
}

.gallery-content h5:hover,
.gallery-content h5 a:hover {
  color: #e1251b;
  transition: 0.5s;
  padding-top: 10px;
}

.text-left {
  text-align: left !important;
}

.about-content .theme-btn.style-nine,
a.theme-btn.style-nine {
  background: #e1251b;
}

.about-content .theme-btn.style-nine:hover,
a.theme-btn.style-nine:hover {
  color: white !important;
  background-color: #cb2117 !important;
  border-color: rgba(255, 0, 0, 0%) !important;
}

.about-content .theme-btn.style-nine.hover-two,
a.theme-btn.style-nine.hover-two {
  border: unset;
}

.ul-whatwedo {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.ul-whatwedo li {
  list-style: disc;
}

.text-grey {
  color: rgba(191, 192, 193, 1) !important;
}

.small-title {
  color: white;
}

.whyus-next,
.whyus-prev {
  display: none;
}

.whyus-block {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03)),
    #231f20;
  box-shadow: 0px 0px 24px 24px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 20px 0px 20px 0px;
  height: 220px;
}

.feature-block {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03)),
    #231f20;
  box-shadow: 0px 0px 24px 24px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 20px 0px 0px 0px;
  height: 420px;
}

#whyus-mobile,
#feature-mobile {
  display: none;
}

.whyus-mobile {
  display: none;
}

.container.whyus-desktop,
.whyus-desktop,
.feature-section-three {
  display: block;
}

.whyus-32 {
  font-size: 32px !important;
}

.feature-slider-wrap p,
.feature-slider-wrap li {
  font-size: 16px;
}

.feature-slider-wrap .highlight-text {
  color: #e1251b;
  font-size: 32px !important;
}

.text-red {
  color: #e1251b;
  font-size: 40px !important;
}

.feature-item-three h5 {
  color: white;
}

.text-red-news {
  font-size: 40px;
}

#btn-discover-news-mobile {
  display: none;
}

.circle-whyus {
  display: flex;
  align-items: center;
}

.success-svg {
  width: 240px;
  height: 240px;
}

.text-red-desktop {
  color: #e1251b;
  font-size: 24px;
}

.service-arrow.gallery-carousel-arrow {
  display: flex;
}

.gallery-three-wrap {
  height: 500px;
}

.about-section .row {
  align-items: center;
}

.mg-tb-20 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mg-b20 {
  margin-bottom: 20px;
}

.main-menu .navbar-collapse .contact-btn.my-20 {
  margin-top: 32px;
}

.graph-mobile,
.graph-tablet {
  display: none;
}

.graph-desktop {
  display: block;
}

.main-slider-wrap .image img {
  width: -webkit-fill-available;
}

.logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
  height: 65.93px;
  background: unset;
}

.logo-carousel-wrap img {
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
}

.logo-carousel-wrap img:hover {
  /* background: #e1251b;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s; */
}

.newline-dis::before {
  content: "\a";
  white-space: pre;
}

@media (max-width: 1279px) {
  .main-slider-wrap .image img {
    width: unset
  }

  .newline-dis::before {
    content: "";
    white-space: unset;
  }

  .main-slider-wrap .image img {
    content: url('./assets/images/banners/Ipad_BG_Home.png');
  }

  .graph-desktop,
  .graph-mobile {
    display: none;
  }

  .graph-tablet {
    display: block;
  }

  .about-section.pt-80.rpt-40.pb-90.reset-pb-90 {
    padding-bottom: 64px;
  }

  .cournter-section-three {
    padding: unset;
  }

  .cournter-section-three .container {
    padding: 40px 10px 80px 10px;
  }

  .about-content .list-style-one {
    margin-top: unset;
  }

  .gallery-slider-wrap .slick-dots {
    z-index: 9999;
  }

  .content-1 {
    margin: -78px 10px;
  }

  .content-2 {
    margin: -80px 10px;
  }

  .content-3 {
    margin: -50px 10px;
  }

  .content-4 {
    margin: -50px 10px;
  }

  .content-5 {
    margin: -70px 20px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -108px 30px;
  }

  .content-8 {
    margin: -50px 10px;
  }

  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 52% !important;
  }

  .gallery-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 45% !important;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 46.7% !important;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 47% !important;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 48.5% !important;
  }

  .whyus-slider-wrap.testimonial-seven-slider {
    background: unset;
  }

  .service-item-six {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #231f20;
    border-radius: 2%;
    padding: 20px 20px 20px 0px;
    margin-left: 15px;
    height: 180px;
  }

  .whyus-block {
    background: unset;
    box-shadow: unset;
  }

  .main-slider-wrap.testimonial-seven-slider {
    background: unset;
  }

  .feature-item-three {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #231f20;
    border-radius: 2%;
    padding: 10px;
  }

  .feature-block {
    background: unset;
    box-shadow: unset;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 95%;
  }

  #feature-mobile {
    display: block !important;
  }

  .feature-section-three {
    display: none;
  }

  .feature-block .icon-row {
    display: flex;
    align-items: center;
  }

  .feature-section .feature-item-three {
    display: block;
  }

  .feature-item-three .icon img {
    width: 88px !important;
    height: 88px;
  }

  .feature-item-three .icon {
    background: unset;
  }

  .feature-item-three h4 {
    color: white;
  }

  .feature-block .feature-item-three p {
    margin-left: 15px;
    color: white;
  }

  #feature-mobile {
    padding-top: 64px;

  }

  .feature-block,
  .feature-block .slick-slide {
    height: 300px;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    bottom: -20px;
  }

  .feature-slider-wrap .slick-slide {
    padding: 10px;
  }

  .about-section.pt-80.rpt-40.pb-90.reset-pb-90 {
    margin-top: 128px;
    padding-top: unset;
  }

  .feature-item-three .icon {
    margin-bottom: unset;
  }

  .whyus-mobile {
    display: block;
  }

  .container.whyus-desktop,
  .whyus-desktop,
  .feature-section-three {
    display: none;
  }

  .img-feature-mobile {
    width: 100%;
    height: 100%;
  }

  .about-image-shape {
    max-width: unset;
  }

  .pr-70 {
    padding-right: unset;
  }

  .about-section .section-title h3 {
    margin-bottom: 40px;
  }

  .whyus-mobile .about-content p {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .learnmore {
    display: none !important;
  }

  #whyus-mobile {
    display: block;
  }

  .img-about-six {
    position: inherit;
    left: 50%;
  }

  .whyus-slider-wrap.slick-initialized .slick-slide {
    display: flex;
  }

  .whyus-slider-wrap h6,
  .whyus-slider-wrap p {
    color: white;
  }

  .whyus-slider-wrap .service-item-six .icon {
    margin-left: 20px;
  }

  .whyus-block {
    height: 180px;
  }

  .whyus-slider-wrap .custom-slick-control>ul.slick-dots {
    bottom: -20px;
  }

  .cournter-section-three .row {
    display: flex;
  }

  .success-circle {
    margin: 0px 130px 0px 0px !important;
  }

  .circle-whyus {
    justify-content: center;
  }

  .success-circle-2 {
    margin-left: 80px !important;
  }

  .success-circle-3 {
    margin-left: 100px !important;
  }

  .success-item-text {
    font-size: 24px;
  }

  .success-item .count-text {
    font-size: 72px !important;
  }

  .success-circle .success-inner-circle {
    width: 280px !important;
    height: 280px !important;
  }

  .success-svg {
    width: 480px;
    height: 480px;
  }

  .success-circle {
    width: 240px;
    height: 240px;
  }

  .success-circle .success-outer-circle {
    width: 480px;
    height: 480px;
  }

  .success-circle .success-inner-text {
    top: 110px;
    left: 20px;
  }

  .service-section.gallery-section-three {
    padding-top: 64px;
  }

  .gallery-next,
  .gallery-prev {
    display: none !important;
  }

  .gallery-three-wrap.custom-slick-control>ul.slick-dots {
    bottom: 50px;
  }

  .service-section.pb-60 {
    padding-bottom: 64px;
  }

  .news-left-block,
  .news-right-block {
    display: none;
  }

}

@media (max-width: 1240px) {
  .news-section .custom-slick-control>ul.slick-dots {
    left: 47.1% !important;
  }

  #feature-mobile h4 {
    color: white;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 300px;
  }

  .reset-pb-90 {
    margin-top: 80px;
  }

  .about-section .learnmore {
    display: none;
  }

  .main-slider-content {
    padding: unset !important;
  }

  .container.whyus-desktop,
  .whyus-desktop,
  .feature-section-three {
    display: none !important;
  }

  #whyus-mobile,
  #feature-mobile {
    display: block !important;
  }

  #feature-mobile {
    padding-top: 50px;
  }

  .feature-item-three .icon img {
    width: 100px !important;
    height: 100px;
  }

  .feature-item-three .icon,
  #whyus-mobile .icon {
    background: unset;
  }

  .feature-block .icon-row {
    display: flex;
    align-items: center;
  }

  .feature-section .feature-item-three,
  #whyus-mobile .feature-item-three {
    margin-bottom: unset;
    /* display: unset; */
  }

  .feature-item-three p,
  .feature-item-three li {
    margin-left: 40px;
    color: white;
  }

  #whyus-mobile p,
  #whyus-mobile li {
    margin-left: 8px;
    color: white;
  }

  .custom-slick-control>ul.slick-dots {
    top: 320px;
  }

  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 47.5% !important;
  }

  .news-section .custom-slick-control>ul.slick-dots {
    top: unset;
  }

  .gallery-three-wrap.custom-slick-control>ul.slick-dots {
    top: 420px;
    left: 35% !important;
  }

  .feature-section li.list-feature {
    list-style: disc !important;
  }

  .whyus-slider-wrap.slick-initialized .slick-slide {
    display: flex;
  }

  .whyus-slider-wrap h6 {
    color: white;
  }

  .whyus-slider-wrap .service-item-six .icon {
    margin-left: 20px;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 220px;
  }

  .gallery-prev,
  .gallery-next {
    display: none !important;
  }

  .news-left-block,
  .news-right-block {
    display: none;
  }
}

@media (max-width: 1199px) {
  .contact-btn-desktop {
    display: none;
  }

  #btn-discover-news-mobile {
    display: block;
  }

  .contact-btn-mobile {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 50%;
  }

  .content-1 {
    margin: -108px 10px;
  }

  .content-2 {
    margin: -80px 10px;
  }

  .content-3 {
    margin: -80px 10px;
  }

  .content-4 {
    margin: -80px 10px;
  }

  .content-5 {
    margin: -80px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -108px 10px;
  }

  .content-8 {
    margin: -80px 10px;
  }

  .feature-item-three p {
    margin-top: 24px;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 310px;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 200px;
  }
}

@media (max-width: 1180px) {
  .content-1 {
    margin: -108px 10px;
  }

  .content-2 {
    margin: -80px 10px;
  }

  .content-3 {
    margin: -80px 10px;
  }

  .content-4 {
    margin: -80px 10px;
  }

  .content-5 {
    margin: -80px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -108px 10px;
  }

  .content-8 {
    margin: -80px 10px;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 380px;
  }

  .custom-slick-control>ul.slick-dots {
    top: 380px;
  }
}

@media (max-width: 1024px) {
  .success-circle-1 {
    margin-left: 60px !important;
    margin-right: 160px !important;
  }

  .main-slider-wrap .slider-caption {
    min-height: 1280px;
  }

  .news-slider-wrap.testimonial-seven-slider {
    width: calc(100% - 10px);
  }

  .content-1 {
    margin: -78px 10px;
  }

  .content-2 {
    margin: -80px 10px;
  }

  .content-3 {
    margin: -50px 10px;
  }

  .content-4 {
    margin: -50px 10px;
  }

  .content-5 {
    margin: -70px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -108px 10px;
  }

  .content-8 {
    margin: -80px 10px;
  }

  .gallery-three-wrap.custom-slick-control>ul.slick-dots {
    left: 40% !important;
    z-index: 9999;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 47% !important;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 47% !important;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 48.5% !important;
  }

  .container-us .whyus-block .slick-slide {
    height: 210px;
  }

  .service-section .services-card {
    height: unset;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 280px;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 210px;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 230px;
  }

  #whyus-mobile p,
  #whyus-mobile li {
    margin-left: unset;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 330px;
  }

  .about-shape-six.ml-50 {
    margin-left: unset;
  }

  .about-section.pb-90 {
    padding-bottom: 64px;
  }

  .service-section.pb-60 {
    padding-bottom: unset;
  }

  .logo-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media (max-width: 992px) {
  .success-circle-1 {
    margin: 0px 130px 0px 0px !important;
  }

  .success-circle-2 {
    margin-left: 40px !important;
  }

  .success-circle-3 {
    margin-left: 30px !important;
  }

  .service-item-six {
    max-width: 100%;
  }

  .about-shape-six {
    max-width: 100%;
  }

  .custom-slick-control>ul.slick-dots {
    left: 45% !important;
  }
}

@media (max-width: 834px) {
  .main-slider-wrap .slider-caption {
    min-height: 1060px;
  }

  .about-shape-six {
    text-align: center;
  }

  .about-shape-six img {
    width: 85%;
  }

  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 46% !important;
  }

  .news-slider-wrap.testimonial-seven-slider {
    width: calc(100% - 1%);
  }

  .gallery-three-wrap.custom-slick-control>ul.slick-dots {
    left: 36% !important;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 46% !important;
  }

  .container-us .whyus-block .slick-slide {
    height: 290px;
  }

  .service-section .section-title {
    margin-bottom: 48px;
  }


  .feature-block,
  .feature-block .slick-slide {
    height: 330px;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 340px;
  }

  .img-about-six {
    left: unset;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 280px;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 300px;
    left: 46% !important;
  }

  .service-item-six {
    padding: 20px 20px 0px 0px;
  }

  .success-circle-2 {
    margin-left: 50px !important;
  }

  .success-circle-3 {
    margin-left: 50px !important;
  }

  .content-1 {
    margin: -100px 10px;
  }

  .content-2 {
    margin: -70px 10px;
  }

  .content-3 {
    margin: -70px 10px;
  }

  .content-4 {
    margin: -70px 10px;
  }

  .content-5 {
    margin: -70px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -100px 10px;
  }

  .content-8 {
    margin: -70px 10px;
  }
}

@media (max-width: 820px) {
  .news-section {
    margin-top: 64px;
  }

  .about-content .section-title {
    margin-bottom: 10px;
  }

  .gallery-three-wrap {
    height: 450px;
  }

  .news-block {
    /* margin-left: 50px; */
  }
}

@media (max-width: 800px) {
  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 49.7% !important;
  }

  .about-shape-six img {
    width: 100%;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 49% !important;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 330px;
  }

  .feature-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 340px;
  }

  .img-about-six {
    left: unset;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 280px;
  }

  #whyus-mobile p,
  #whyus-mobile li {
    margin-left: unset;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 300px;
  }

  .success-circle-2 {
    margin-left: 40px !important;
  }

  .success-circle-3 {
    margin-left: 40px !important;
  }

  .cournter-section-three.rpb-50 {
    /* padding-top: 50px; */
    /* padding-bottom: 70px; */
  }

  .content-1 {
    margin: -100px 10px;
  }

  .content-2 {
    margin: -70px 10px;
  }

  .content-3 {
    margin: -70px 10px;
  }

  .content-4 {
    margin: -70px 10px;
  }

  .content-5 {
    margin: -70px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -100px 10px;
  }

  .content-8 {
    margin: -70px 10px;
  }

  .service-section .section-title {
    margin-bottom: 48px;
  }

  .gallery-section-three .right-col {
    display: none !important;
  }

  .section-title.mb-55 {
    margin-bottom: 32px;
  }

  .contact-btn-mobile {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .main-slider-wrap .slider-caption {
    min-height: 970px;
  }

  .news-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 49.6% !important;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 48% !important;
  }

  .about-shape-six img {
    width: 70%;
    height: 100%;
  }

  .whyus-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 95%;
  }

  .content-1 {
    margin: -100px 10px;
  }

  .content-2 {
    margin: -70px 10px;
  }

  .content-3 {
    margin: -70px 10px;
  }

  .content-4 {
    margin: -70px 10px;
  }

  .content-5 {
    margin: -70px 10px;
  }

  .content-6 {
    margin: -50px 10px;
  }

  .content-7 {
    margin: -100px 10px;
  }

  .content-8 {
    margin: -70px 10px;
  }
}

@media (max-width: 767px) {
  .main-slider-content {
    margin-top: 40px;
  }

  .news-slider-wrap .news-slider-item .title {
    width: 250px;
  }

  .feature-slider-wrap .feature-slider-item .image {
    width: 232px;
    height: 155px;
  }

  .main-slider-wrap .image img {
    content: url('./assets/images/banners/Mobile_BG_Home.png');
  }

  .whyus-mobile .about-content .mg-tb-20 {
    text-align: center;
  }

  .graph-desktop,
  .graph-tablet {
    display: none;
  }

  .graph-mobile {
    display: block;
  }

  .testimonial-seven-slider {
    padding-left: unset;
  }

  .service-item-six {
    margin-left: unset;
  }

  .main-menu .navbar-collapse .contact-btn.my-20 {
    margin-top: 32px;
  }

  .service-item-six {
    background: unset;
    border-radius: unset;
    padding: unset;
  }

  .whyus-block {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #231f20;
    box-shadow: 0px 0px 24px 24px rgb(0 0 0 / 10%);
  }


  .feature-item-three {
    background: unset;
    border-radius: unset;
    padding: unset;
  }

  .feature-block {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #231f20;
    box-shadow: 0px 0px 24px 24px rgb(0 0 0 / 10%);
  }

  .success-circle {
    margin: 0px 30px 0px 0px !important;
  }

  .success-circle .success-inner-text {
    left: unset;
    top: 60% !important;
  }

  .contact-btn-mobile {
    margin: unset;
  }

  .img-about-six {
    left: unset;
  }

  .whyus-mobile .about-content p {
    margin-top: unset;
    margin-bottom: 16px;
  }

  .img-feature-mobile {
    width: 100%;
    height: unset;
  }

  .main-slider-wrap.testimonial-seven-slider {
    padding-right: unset;
    padding-left: unset;
  }

  .feature-item-three .icon {
    margin-bottom: unset;
  }

  .feature-slider-wrap .highlight-text {
    font-size: 24px !important;
  }

  .logo-section .trust-text {
    margin-bottom: 48px;
  }

  .logo-carousel-wrap .slick-slide div {
    margin: 10px 5px;
    background: #2A2627;
    border-radius: 4px;
  }

  .footer-logo img.logo {
    width: 194px;
    height: 110px;
  }

  .mb-15,
  .my-15 {
    margin-bottom: 24px;
  }

  .rpb-40,
  .rpy-40 {
    padding: 24px;
  }

  .rpb-80,
  .rpy-80 {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  .mb-55,
  .my-55 {
    margin-bottom: 34px;
  }

  .news-section {
    margin-top: 64px;
  }

  .service-section .section-title {
    margin-bottom: 24px !important;
  }

  .rpt-95,
  .rpy-95 {
    padding-top: 64px;
  }

  .reset-pb-90 {
    margin-top: 65px;
  }

  .text-red {
    font-size: 32px !important;
  }

  .whyus-mobile {
    display: block;
  }

  #whyus-mobile p,
  #whyus-mobile li {
    margin-left: unset;
  }

  .news-block {
    margin-left: unset;
  }

  .about-section .section-title .highlight-text {
    font-size: 32px !important;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 290px;
  }

  .feature-item-three .icon img {
    width: 88px !important;
    height: 88px;
  }

  .main-slider-content {
    /* padding: 50px 0px 0px 0px !important; */
  }


  .about-section .section-title h3.text-aboutus {
    margin-bottom: unset;
  }

  .about-section .section-title h3.highlight-text {
    margin-top: unset;
    margin-bottom: 24px;
  }

  .custom-slick-control>ul.slick-dots {
    left: 50%;
  }

  .sub-title {
    font-size: 16px;
  }

  .whyus-slider-wrap .slick-slide,
  .feature-slider-wrap .slick-slide,
  .gallery-slider-wrap .slick-slide,
  .logo-slider-wrap .slick-slide {
    display: flex !important;
  }

  .whyus-slider-wrap h6,
  .whyus-slider-wrap p,
  .feature-slider-wrap h4,
  .feature-slider-wrap p,
  .feature-slider-wrap li {
    color: white;
  }

  .whyus-slider-wrap p {
    font-size: 14px !important;
  }

  .whyus-slider-wrap .service-item-six .icon {
    width: 48px;
    height: 48px;
    /* margin-left: 20px; */
  }

  .whyus-slider-wrap .service-item-six .icon img {
    max-height: 35px;
  }

  #whyus-mobile {
    margin-top: 35px;
  }

  #whyus-mobile,
  #feature-mobile {
    display: block !important;
  }

  .container.whyus-desktop,
  .whyus-desktop,
  .feature-section-three {
    display: none !important;
  }

  .about-section .section-title h3 {
    margin-bottom: unset;
  }

  .feature-section {
    padding-bottom: 60px;
  }

  .feature-block .icon-row {
    display: flex;
    align-items: center;
  }

  .feature-block .feature-item-three .icon img {
    width: unset;
  }

  .feature-block .feature-item-three .icon {
    background: unset;
  }

  .feature-block .feature-item-three p,
  .feature-block .feature-item-three li {
    margin-left: 15px;
    /* width: 100%; */
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    left: 45%;
    top: 100%;
  }

  .whyus-block .custom-slick-control>ul.slick-dots {
    left: 5% !important;
    top: 140%;
  }

  .block-mobile .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 80%;
  }

  .pb-0 {
    padding-bottom: 0px;
  }

  .news-left-block,
  .news-right-block {
    display: none;
  }

  .feature-section .feature-item-three,
  .whyus-block .feature-item-three {
    display: unset;
  }

  .feature-section li.list-feature {
    list-style: disc !important;
  }

  .testimonial-seven-slider {
    /* padding: unset !important; */
    /* padding-left: 25px; */
    padding-right: 26px;
  }

  .feature-section .feature-item-three {
    margin-bottom: unset;
  }

  .text-red-news {
    color: #e1251b;
    font-size: 32px !important;
  }

  #btn-discover-news,
  .contact-btn-desktop {
    display: none;
  }

  #btn-discover-news-mobile {
    margin-top: 24px !important;
    display: block;
    padding: 8px 24px 8px 24px !important;
    width: 107px;
    font-size: 16px;
  }

  .contact-btn-mobile {
    padding-top: 38px;
    display: flex;
    justify-content: center;
  }

  .gallery-prev,
  .gallery-next {
    display: none !important;
  }

  .gallery-item-service.slick-slide h5 {
    font-size: 16px !important;
  }

  .service-section .custom-slick-control>ul.slick-dots {
    left: 35% !important;
    top: 95%;
  }

  .news-section .custom-slick-control>ul.slick-dots {
    left: 50% !important;
  }


  .service-section.rpb-60 {
    padding-bottom: unset;
  }

  .service-section.pb-60 {
    padding-bottom: unset;
  }

  .home-contact-banner .row {
    text-align: center;
  }

  .home-contact-banner .contactus-btn {
    padding: 8px 24px 8px 24px !important;
    font-size: 16px;
  }

  .reset-pb-90 {
    padding-bottom: unset !important;
  }

  .row.row-aboutus {
    display: unset;
  }

  .success-svg {
    width: 160px;
    height: 160px;
  }

  .success-circle,
  .success-outer-circle {
    width: 160px !important;
    height: 160px !important;
  }

  .success-circle .success-inner-circle {
    width: 160px !important;
    height: 160px !important;
  }

  .success-item-text {
    width: 200px;
    text-align: left;
    margin-left: 10px;
  }

  .success-circle .success-inner-text {
    top: 50px !important;
  }

  .success-item .count-text {
    font-size: 32px !important;
  }

  .success-item-text {
    font-size: 16px;
    color: #bfc0c1 !important;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 140px;
  }
}

@media (max-width: 764px) {

  .what-we-do .feature-item-three {
    height: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 688px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 101.98px;
    background: unset;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 220px;
  }

  .feature-item-three p {
    margin-top: unset;
  }

  .feature-block {
    padding: unset;
  }

  .content-1 {
    margin: -50px 10px;
  }

  .content-2 {
    margin: -50px 10px;
  }

  .content-3 {
    margin: -40px 10px;
  }

  .content-4 {
    margin: -40px 10px;
  }

  .content-5 {
    margin: -50px 10px;
  }

  .content-6 {
    margin: -30px 10px;
  }

  .content-7 {
    margin: -50px 10px;
  }

  .content-8 {
    margin: -35px 10px;
  }

  .news-slider-wrap.testimonial-seven-slider {
    /* width: unset; */
  }

  .block-mobile .custom-slick-control>ul.slick-dots {
    left: 44% !important;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    top: 95%;
  }

  .main-slider-wrap .slider-caption {
    min-height: 970px;
  }

  .news-section {
    margin-top: 150px !important;
  }

  .news-block {
    margin-left: unset;
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    top: 110%;
    left: 45% !important;
  }

  .about-section.pt-80.rpt-40.pb-90.reset-pb-90 {
    margin-top: unset;
  }

  .block-mobile .custom-slick-control>ul.slick-dots {
    top: 85%;
  }

  .service-section .custom-slick-control>ul.slick-dots {
    top: 95%;
  }

  .container-gallery {
    height: 350px;
  }

  .news-section .custom-slick-control>ul.slick-dots {
    left: 44.5% !important;
  }
}

@media (max-width: 575px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 109.88px;
    background: unset;
  }

  .news-section {
    margin-top: unset !important;
  }

  .custom-slick-control>ul.slick-dots {
    top: unset;
  }

  .home-contact-banner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #main-footer.pt-90 {
    padding-top: 30px;
  }

  .footer-logo img.logo {
    width: 178px !important;
  }

  .logo-carousel-wrap.custom-slick-control>ul.slick-dots {
    left: 30% !important;
    top: 100%;
  }

  .service-section .custom-slick-control>ul.slick-dots {
    left: 25% !important;
    top: 50%;
  }

  .img-service {
    height: 203px;
  }

  .service-arrow {
    margin-bottom: 25px;
  }

  .service-section .section-title {
    margin-bottom: 0;
  }

  .img-service {
    width: unset;
  }

  .about-section .section-title h3.text-aboutus {
    margin-bottom: unset;
  }

  .about-section .section-title h3.highlight-text {
    margin-top: unset;
    margin-bottom: 24px;
  }

  .custom-slick-control>ul.slick-dots {
    left: 40% !important;
  }

  .sub-title {
    font-size: 16px;
  }

  .whyus-slider-wrap .slick-slide,
  .feature-slider-wrap .slick-slide,
  .gallery-slider-wrap .slick-slide,
  .logo-slider-wrap .slick-slide {
    display: flex !important;
  }

  .whyus-slider-wrap h6,
  .whyus-slider-wrap p,
  .feature-slider-wrap h4,
  .feature-slider-wrap p,
  .feature-slider-wrap li {
    color: white;
  }

  .whyus-slider-wrap p {
    font-size: 14px;
  }

  .whyus-slider-wrap .service-item-six .icon {
    width: 48px;
    height: 48px;
    /* margin-left: 20px; */
  }

  .whyus-slider-wrap .service-item-six .icon img {
    max-height: 35px;
  }

  #whyus-mobile,
  #feature-mobile {
    display: block !important;
  }

  .container.whyus-desktop,
  .whyus-desktop,
  .feature-section-three {
    display: none !important;
  }

  .about-section .section-title h3 {
    margin-bottom: unset;
  }

  .feature-section {
    padding-bottom: 60px;
  }

  .feature-block .icon-row {
    display: flex;
    align-items: center;
  }

  .feature-block .feature-item-three .icon img {
    width: unset;
  }

  .feature-block .feature-item-three .icon {
    background: unset;
  }

  .feature-block .feature-item-three p,
  .feature-block .feature-item-three li {
    margin-left: 15px;
    /* width: 100%; */
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 100%;
  }

  .whyus-block .custom-slick-control>ul.slick-dots {
    left: 44% !important;
    top: 80%;
  }

  .pb-0 {
    padding-bottom: 0px;
  }

  .news-left-block,
  .news-right-block {
    display: none;
  }

  .news-block .custom-slick-control>ul.slick-dots {
    /* left: 50% !important; */
    text-align: center;
  }

  .gallery-prev,
  .gallery-next {
    display: none !important;
  }

  .gallery-item-service.slick-slide h5 {
    font-size: 16px !important;
  }

  .service-section.rpb-60 {
    padding-bottom: unset;
  }

  .service-section.pb-60 {
    padding-bottom: unset;
  }

  .pd-50 {
    padding-top: 50px !important;
  }
}

@media (max-width: 414px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 74.28px;
    background: unset;
  }

  .main-slider-wrap.custom-slick-control>ul.slick-dots {
    left: 45% !important;
    top: 96%;
  }

  .container-gallery {
    height: unset;
  }

  .news-section {
    margin-top: unset !important;
  }

  .news-slider-wrap.testimonial-seven-slider {
    width: calc(100% - 10px);
  }

  .infra-carousel-wrap .slick-dots,
  .cloud-carousel-wrap .slick-dots {
    top: 190px !important;
  }

  .feature-item-three .icon {
    margin-bottom: unset;
  }

  .content-1 {
    margin: -50px 10px;
  }

  .content-2 {
    margin: -50px 10px;
  }

  .content-3 {
    margin: -50px 10px;
  }

  .content-4 {
    margin: -50px 10px;
  }

  .content-5 {
    margin: -50px 10px;
  }

  .content-6 {
    margin: -30px 10px;
  }

  .content-7 {
    margin: -68px 10px;
  }

  .content-8 {
    margin: -50px 10px;
  }


  .feature-block,
  .feature-block .slick-slide {
    height: 240px;
  }

  .gallery-three-wrap {
    height: 300px;
  }

  .reset-pb-90 {
    margin-top: unset;
  }

  .success-circle .success-inner-text {
    width: 70%;
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 110%;
  }

  .whyus-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 90%;
  }

  .news-block .custom-slick-control>ul.slick-dots {
    /* left: 43.5% !important; */
    text-align: center;
  }

  .service-section .custom-slick-control>ul.slick-dots {
    top: 75%;
  }

  .logo-carousel-wrap.custom-slick-control>ul.slick-dots {
    top: 105%;
  }

  .news-block {
    margin-left: unset;
  }

  .whyus-slider-wrap .service-item-six .icon img {
    max-height: 40px;
  }

  .whyus-slider-wrap .service-item-six .icon {
    width: 60px;
    height: 60px;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 190px;
  }

  .feature-item-three .icon,
  .feature-item-three .icon img {
    width: 70px !important;
    height: 70px !important;
  }

  .feature-item-three .icon-row {
    margin-bottom: 20px;
  }
}

@media (max-width: 412px) {

  .feature-block,
  .feature-block .slick-slide {
    height: 240px;
  }
}

@media (max-width: 393px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 69.88px;
    background: unset;
  }

  .news-block .custom-slick-control>ul.slick-dots {
    /* left: 43% !important; */
    text-align: center;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 190px;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 240px;
  }
}

@media (max-width: 384px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 67.69px;
    background: unset;
  }
}

@media (max-width: 375px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 65.93px;
    background: unset;
  }

  .cournter-section-three .container {
    padding: 40px 10px 80px 10px;
  }

  #btn-discover-news-mobile {
    margin-top: 10px !important;
  }

  .news-block .custom-slick-control>ul.slick-dots {
    /* left: 41% !important; */
    text-align: center;
  }

  .service-item-six {
    margin-left: unset;
  }

  .logo-carousel-wrap .slick-slide div {
    margin: 10px 5px;
    background: #2A2627;
    border-radius: 4px;
  }

  .news-slider-wrap.testimonial-seven-slider {
    width: 100%;
  }

  .about-content .section-title {
    margin-bottom: 10px;
  }

  .news-section .custom-slick-control>ul.slick-dots {
    top: 105%;
  }

  .logo-section .custom-slick-control>ul.slick-dots {
    top: 105%;
  }

  .news-section .mb-55 {
    margin-bottom: 32px;
  }

  .news-slider-wrap .news-slider-item .sub-title {
    font-size: 14px;
  }

  .news-slider-wrap .news-slider-item .title {

    font-size: 16px;
  }

  .content-1 {
    margin: -68px 10px;
  }

  .content-2 {
    margin: -50px 10px;
  }

  .content-3 {
    margin: -50px 10px;
  }

  .content-4 {
    margin: -50px 10px;
  }

  .content-5 {
    margin: -50px 10px;
  }

  .content-6 {
    margin: -30px 10px;
  }

  .content-7 {
    margin: -68px 10px;
  }

  .content-8 {
    margin: -50px 10px;
  }

  .news-block {
    margin-left: unset;
  }

  .feature-item-three .icon {
    margin-bottom: unset;
  }

  .feature-item-three .icon img {
    width: 80px !important;
    height: 80px;
  }

  .feature-block {
    height: 240px;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 210px;
  }

  .whyus-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 90%;
  }

  .gallery-three-wrap.custom-slick-control>ul.slick-dots {
    left: 25% !important;
    top: 75% !important;
  }

  .container-gallery {
    height: unset;
  }

  .gallery-three-wrap {
    height: 300px;
  }

  .testimonial-seven-slider {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 110%;
  }

  .gallery-prev,
  .gallery-next {
    display: none !important;
  }

  .img-service {
    height: 203px;
  }

  .gallery-item-service.slick-slide h5 {
    font-size: 16px !important;
  }

  .service-section.rpb-60 {
    padding-bottom: unset;
  }

  .service-section.pb-60 {
    padding-bottom: unset;
  }

  .news-slider-wrap .custom-slick-control>ul.slick-dots {
    left: 50% !important;
  }

  .success-svg {
    width: 160px;
    height: 160px;
  }

  .success-circle,
  .success-outer-circle,
  .success-inner-circle {
    width: 160px !important;
    height: 160px !important;
  }

  .success-item-text {
    width: 200px;
    text-align: left;
    margin-left: 10px;
  }

  .success-circle .success-inner-text {
    top: 60px !important;
  }

  .success-item .count-text {
    font-size: 32px;
  }

  .success-item-text {
    font-size: 16px;
    color: #bfc0c1 !important;
  }
}

@media (max-width: 360px) {
  .feature-block .custom-slick-control>ul.slick-dots {
    left: 40% !important;
    top: 120%;
  }

  .feature-block {
    height: 260px;
  }

  .news-section .custom-slick-control>ul.slick-dots {
    top: 105% !important;
  }

  .content-2 {
    margin: -70px 10px !important;
  }
}

@media (max-width: 320px) {
  .logo-carousel-wrap .slick-slide:nth-child(8) div:nth-child(2) {
    height: 53.63px;
    background: unset;
  }

  .news-block .custom-slick-control>ul.slick-dots {
    /* left: 40% !important; */
    text-align: center;
  }

  .feature-block .custom-slick-control>ul.slick-dots {
    top: 100%;
  }

  .whyus-block,
  .whyus-block .slick-slide {
    height: 300px;
  }

  .feature-block,
  .feature-block .slick-slide {
    height: 340px;
  }
}